@import "tailwindcss";

@font-face {
  font-family: "DepartureMono";
  src: url("/fonts/DepartureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: #ccff00;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--green);
  color: var(--black);
  font-family: "DepartureMono", monospace;
}

a {
  text-decoration: none;
}

::selection {
  background: var(--black);
  color: var(--green);
}

.image-render-pixel {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}